---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <h1>Dashboard</h1>
    <div>
        <h2>Bienvenido usuario!</h2>
        <form action="">
            <button type="submit">signout</button>
        </form>
    </div>
</Layout>